html {
  font-size: clamp(1rem, calc(0.5rem + 2vw), 4rem);
}

header {
  text-align: center;
  padding: 5vw 0 0 0;
}

header nav ul li {
  margin: 20px 0 0 0;
}
header nav ul li a.btn {
  color: #fbbc05;
}
header nav ul li a.btn-border {
  background-color: #fbbc05;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  display: inline-block;
}
button {
  background-color: #252B42;
  border-radius: 10px;
  padding: 2vw;
  margin: 4vw 0 2vw 0;
}
section.banner {
  background: url(../img/background-banner.png) no-repeat;
  background-size: 100% auto;
  padding: 3vw 5vw;
  margin: 5vw 0;
}
section.banner div.img {
  display: none;
}
section.banner h2 {
  font-size: 2rem;
}
section.banner p {
  color: rgb(104, 104, 104);
  font-size: 0.7rem;
  margin: 14px 0 0 0;
}
section.banner p a {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 10px;
}
section.banner ul {
  display: flex;
  gap: 20px;
}
section.banner p.buttons img {
  height: 50%;
}
section.ready div.img {
  display: none;
}
section.ready {
  text-align: center;
  padding: 3vw 5vw;
}
section.ready h2{
  font-size:1.7rem;
  font-weight: 700;
  padding: 10px 0;
}
section.ready div.lista ul li{
 margin: 20px 0;
}
section.ready div.lista ul li h3 {
  font-size: 1.1rem;
  font-weight: 700;
}
section.ready p {
  color: gray;
  font-size: 0.7rem;
}
section.dowload {
  background: #FBBC05;
  color: white;
  border-radius: 20px;
  margin: 3vw 5vw;
  padding: 3vw;
}
section.dowload h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 0 20px 0;
}
section.dowload p {
  width: 50%;
  font-size: 1rem;
  padding: 0 0 2vw;
}
.services {
  margin: 5rem 5vw;
}
.services h2{
  font-size: 1.5rem;
  font-weight: 700;
}
.services div.text {
  margin: 0 0 20px 0;
}
.services ul li {
  background-color: #f6f6f6;
  margin: 1vw 0;
  padding: 3vw;
}
.services ul li h3{
  font-size: 1.3rem;
  font-weight: 700;
  padding: 5vw 0 3vw;
}
@media only screen and (min-width: 600px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }
  header nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  header {
    padding: 2vw 5vw;
  }
  section.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section.banner div.img {
    display: block;
  }
  section.ready div.img {
    display: block;
  }
  section.ready > p {
    padding: 0 20%;
  }
  section.ready > div {
    padding: 3rem 0 0 0;
    display: flex;
    justify-content: center;
    gap: 2rem;

  }
  section.ready div.lista ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 40vw;
  }
  section.ready div.lista ul li { 
    text-align: left;
    width: 40%;
  }
  section.ready div.lista ul li p {
    color: rgb(168, 168, 168);
  }
  section.ready div.lista ul li h3 {
    padding: 1vw 0;
    font-size: 1rem;
  }
  section.dowload {
    padding: 3vw;
    background: url(../img/iphone-pet-ui.png) no-repeat, url(../img/iphone-pet-ui.png) no-repeat, linear-gradient(#FBBC05,#FBBC05) ;
    background-size: auto 65%, auto 65%;
    background-position: 60% 130%, 90% -8vw;
  }
  section.dowload h2 {
    padding: 5vw 0 2vw 0;
  }
  section.dowload p {
    width: 40%;
    font-size: 0.7rem;
  }
  .services {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    /*align-items: ;*/
  }
  .services div ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  .services div ul li:hover {
    background-color: #FBBC05;
    transition: 1s;
  }
  .services div ul li p{
    font-size: 0.7rem;
  }
}
