/* === IMPORTAÇÃO DE FONTES */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/*
Fontes Disponíveis:
// Sugiro usar esta 
font-family: "Urbanist", sans-serif; 
font-family: "Fredoka", sans-serif;
font-family: "Epilogue", sans-serif;
font-family: "Nunito", sans-serif;
font-family: "Oswald", sans-serif;
*/
/* ==========================*/

/* ==== FORMATAÇÃO GERAL === */
html{
    font-size: clamp(1rem, 2vw + 0.8rem, 3rem);
    font-family: "Urbanist", sans-serif;  
}

body {
    background-color: #E9EAF8;
    padding: 2vw;
}

header {
    text-align: center;
}

header p {
    padding: 1.5vw;
    font-size: 4.5vw;
}

.bnt {
    color: white;
    background-color: #747ED1;
    border-radius: 20px;
    margin: 2vw 6.5rem;
}

.bnt-More {
    color: #747ED1;
    background-color: #E9EAF8;
    border-radius: 15px;
    padding: 2vw 3vw;
}

section {
    background-color: white;
    margin: 5vw 0;
    padding: 2vw;
    border-radius: 10px;
}

footer {
    background-color: black;
    border-radius: 10px;
    padding: 2vw;
    color: white;
    font-size: 3.8vw;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding: 3vw;
}

/* === ====== === */

.banner {
    background-color: #51225E;
    color: white;
    border-radius: 10px;
    padding: 3vw ;
    text-align: center;
}

.banner h1 {
    font-size: 1.5rem;
    padding: 1.5rem 0 3vw 0;
}

.banner p {
    font-size: 4.5vw;
    padding: 0 0 1.5rem 0;
}

/* === === ===*/

.web {
    padding: 3vw 3vw 5vw;
}

.web h2 {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3vw 0;
}

.web p {
    font-size: 4.5vw;
    padding: 0 0 3vw;
}
/* === ===== === */

.video {
    text-align: center;
}

.video h2 {
    font-size: 1.4rem;
    font-weight: 500;
}

.video h2 span {
    color: #747ED1;
    border-bottom: 2px solid #747ED1;
}

.video ol li {
    padding: 3vw;

.video ol li p {
    font-size: 4vw;
    color: grey;
}

/* MEDIA QUERY - DESKTOP */
@media  screen and (min-width: 600px) {

}